{% extends 'partials/layout/base.twig' %}

{% block content %}
  <div class="ArticlePage">

    {% include "partials/blocks/block-introduction.twig" with {
      data : page.introduction,
      bigTitle : true,
      newsMode: true,
      backLink: page.backLink
    } %}

    <h1 class='ArticlePage_title'>
      {{ page.title }}
    </h1>

    <div class="ArticlePage_content">
      {{ page.content|raw }}
    </div>

    {% include "partials/components/flexible.twig" with {
      data : page.flexible
    } %}

  </div>
{% endblock %}
