{% extends 'partials/layout/base.twig' %}

{% block content %}
  <div class="NewsPage">

    {% include "partials/blocks/block-introduction.twig" with {
      data : {
        title: page.customTitle
      },
      bigTitle : true,
      newsMode: true,
      categories: page.categories
    } %}

    <div class="NewsPage_list">
      {% for item in page.newsList %}
        {% set isBig = loop.index == 6 %}
        {% include 'partials/components/news-item.twig' with {
          item : item,
          modifier: 'horizontal',
          linkOnImage: true,
          class: 'NewsPage_item ' ~ (isBig ? 'NewsPage_item-big' : '')
        } %}
        {% if isBig %}
          <div class="NewsItem NewsPage_item-afterBig"></div>
        {% endif %}
      {% endfor %}
    </div>

    {% include 'partials/components/pagination.twig' with {
      pagination : page.pagination
    } %}

  </div>
{% endblock %}
