{% extends 'partials/layout/base.twig' %}

{% block content %}
  <div class="NotFoundPage AppView_sidebarAligned">
    <div class="NotFoundPage_container">
      <h1 class="NotFoundPage_title">{{ dictionary('notFound.title') }}</h1>
      <a href="{{ appData.base }}" class="SubLink SubLink-underline NotFoundPage_link">{{ dictionary('notFound.backToHome') }}</a>
      <div class="NotFoundPage_image"></div>
    </div>
  </div>
{% endblock %}
