{% if contactButton.visible or contactButton.mobile %}
  <div class="ContactButtonContainer {% if contactButton.visible %}ContactButtonContainer-desktop{% endif %} {% if contactButton.mobile %}ContactButtonContainer-mobile{% endif %}">
    <div class="FullBlock">
      <a class="ContactButton" href="{{ contactButton.href }}">
        <span class="ContactButton_label ContactButton_label-regular">{{ dictionary('layout.contactButton') }}</span>
        <span class="ContactButton_label ContactButton_label-compact">@</span>
      </a>
    </div>
  </div>
{% endif %}