<script>window._loaderStartTime = Date.now();</script>

<div class="TransitionShutter"></div>
<style>
  .TransitionShutter {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 2000;
    background-color: white;
  }
</style>
<noscript hidden>
  <style>
    .Preloader { display: none !important; }
    .TransitionShutter { display: none !important; }
    .BackToTop { display: none !important; }
    a:hover { text-decoration: underline !important; }
    .FlexibleGalleryBlock_imagesContainer {
      cursor: auto !important;
    }
    .Header_menuButton {
      display: none;
    }
    .FlexibleGalleryBlock .ResponsiveImage_img {
      width: auto;
      position: relative;
    }
    .FlexibleGalleryBlock_arrowsContainer,
    .FlexibleGalleryBlock_scrollBarContainer {
      display: none !important;
    }
    .FlexibleGalleryBlock .FlexibleGalleryBlock_mainContainer {
      height: 850px;
    }
    .FlexibleGalleryBlock .ResponsiveImage,
    .FlexibleGalleryBlock .ResponsiveImage_img {
      height: 600px;
    }
    @media (max-width: 800px) {
      .FlexibleGalleryBlock .FlexibleGalleryBlock_mainContainer {
        height: 580px !important;
      }
      .FlexibleGalleryBlock .ResponsiveImage,
      .FlexibleGalleryBlock .ResponsiveImage_img {
        height: 400px !important;
      }
    }
  </style>
</noscript>

{% if not appData.transition %}
  <div class="Preloader Preloader-animated">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 120 108">
      <g>
        <path d="M0.1,0.81V0h23.33v0.81h-0.81c-2.23,0,0.31,3.26,4.68,11.05l21.7,37.12l14.91-37.02c1.15-2.7,1.72-5,1.72-6.9
          c0-2.64-1.35-4.06-4.06-4.26h-1.32V0h17.65v0.81h-1.32c-0.27,0-0.68,0.12-1.22,0.35c-0.54,0.24-1.32,0.73-2.33,1.47
          c-1.01,0.74-2.05,1.67-3.09,2.79c-1.05,1.12-2.23,2.74-3.55,4.87c-1.32,2.13-2.55,4.51-3.7,7.15L42.59,66.73
          c-1.76,4.06-2.74,6.39-2.94,7c-1.55,3.92-4.06,7.05-7.5,9.38c-3.45,2.33-7.3,3.5-11.56,3.5c-5.68,0-10.53-2.01-14.55-6.03
          C2.01,76.55,0,71.7,0,66.02c0-3.52,1.22-6.49,3.65-8.92c2.44-2.44,5.41-3.65,8.93-3.65c3.45,0,6.41,1.22,8.87,3.65
          c2.47,2.43,3.7,5.41,3.7,8.92c0,3.45-1.23,6.41-3.7,8.87c-2.47,2.47-5.43,3.7-8.87,3.7c-4.33,0-7.81-1.83-10.45-5.48
          c1.35,3.72,3.75,6.76,7.2,9.13c3.45,2.37,7.2,3.55,11.26,3.55c3.92,0,7.56-1.15,10.9-3.45c3.35-2.3,5.8-5.27,7.35-8.92l3.14-7.3
          L9.02,10.85C5.07,3.88,3.21,0.81,1.32,0.81H0.1z"/>
        <path d="M68.03,35.59c1.49,3.32,3.8,5.98,6.93,7.99l33.86,21.57c3.95,2.53,6.43,5.66,7.43,9.39c1,3.73,0.46,7.04-1.62,9.95
          l-1.45,1.9l0.45,0.22c4.25-5.22,6.37-11.06,6.37-17.55c0-4.92-1.16-9.48-3.46-13.69c-2.31-4.21-5.44-7.58-9.39-10.11l-31.4-20
          c-1.79-1.34-3.19-2.76-4.19-4.25c-1-1.49-1.58-3.15-1.73-4.97c-0.15-1.82,0.52-3.59,2.01-5.31C76.82,4.62,84.64,0.45,92.9,0.45
          c0.74,0,1.94,0.07,3.58,0.23c1.73,0.15,9.08,0.4,16.08,7.49c4.37,4.43,6.85,10.43,6.93,16.32v1.01h0.45V0h-0.45
          c-2.01,1.71-4.53,2.78-7.54,3.19c-3.02,0.41-5.98-0.95-8.88-1.84C100.16,0.45,95.51,0,92.9,0C84.72,0,78.47,3.52,73.4,8.33
          c-5.07,4.81-7.6,10.6-7.6,17.38C65.8,28.98,66.54,32.28,68.03,35.59z"/>
        <path d="M9.18,105.6c-0.22,0.49-0.52,0.91-0.9,1.27c-0.38,0.36-0.84,0.63-1.38,0.83c-0.54,0.2-1.17,0.3-1.88,0.3
          c-0.78,0-1.47-0.13-2.09-0.39c-0.62-0.26-1.14-0.65-1.57-1.15c-0.43-0.5-0.76-1.12-1-1.85c-0.24-0.73-0.36-1.56-0.36-2.5
          c0-0.95,0.13-1.78,0.38-2.52c0.25-0.73,0.6-1.35,1.06-1.86c0.45-0.5,0.98-0.89,1.6-1.15c0.61-0.26,1.28-0.39,1.99-0.39
          c0.69,0,1.29,0.09,1.8,0.27c0.5,0.18,0.93,0.43,1.28,0.76c0.35,0.33,0.63,0.71,0.85,1.17c0.22,0.45,0.38,0.95,0.5,1.49
          l-1.42,0.24C7.94,99.7,7.81,99.33,7.66,99c-0.15-0.33-0.34-0.61-0.58-0.84c-0.24-0.23-0.52-0.41-0.85-0.53
          c-0.33-0.12-0.73-0.18-1.21-0.18c-0.56,0-1.05,0.11-1.49,0.34c-0.43,0.23-0.8,0.54-1.1,0.94c-0.3,0.41-0.53,0.89-0.68,1.46
          c-0.16,0.57-0.23,1.21-0.23,1.9c0,0.69,0.08,1.32,0.23,1.9c0.16,0.57,0.39,1.06,0.68,1.47c0.3,0.41,0.67,0.72,1.1,0.95
          c0.44,0.22,0.94,0.33,1.5,0.33c0.52,0,0.95-0.07,1.31-0.2c0.36-0.13,0.66-0.32,0.9-0.56c0.24-0.24,0.42-0.53,0.56-0.86
          c0.14-0.34,0.23-0.7,0.3-1.1H9.6C9.54,104.58,9.4,105.11,9.18,105.6z M17.66,107.61c-0.63-0.26-1.18-0.63-1.64-1.13
          c-0.46-0.5-0.81-1.11-1.06-1.85c-0.25-0.73-0.38-1.57-0.38-2.52c0-0.95,0.13-1.78,0.39-2.52c0.26-0.73,0.61-1.35,1.07-1.86
          c0.46-0.5,1-0.89,1.64-1.15c0.63-0.26,1.33-0.39,2.09-0.39c0.77,0,1.47,0.13,2.1,0.39c0.64,0.26,1.18,0.63,1.63,1.13
          c0.45,0.5,0.8,1.11,1.05,1.84c0.25,0.73,0.38,1.57,0.38,2.51c0,0.95-0.12,1.79-0.37,2.53c-0.25,0.74-0.6,1.36-1.05,1.87
          c-0.45,0.5-0.99,0.89-1.63,1.15c-0.63,0.26-1.34,0.39-2.12,0.39C19,108,18.3,107.87,17.66,107.61z M21.34,106.41
          c0.46-0.22,0.84-0.53,1.14-0.94c0.3-0.4,0.53-0.89,0.69-1.46c0.16-0.57,0.24-1.21,0.24-1.91c0-0.69-0.08-1.33-0.24-1.9
          c-0.16-0.57-0.39-1.06-0.7-1.47c-0.31-0.41-0.69-0.72-1.14-0.94c-0.45-0.22-0.98-0.33-1.57-0.33c-0.61,0-1.14,0.11-1.6,0.33
          c-0.46,0.22-0.84,0.53-1.15,0.94c-0.31,0.41-0.54,0.9-0.69,1.47c-0.15,0.57-0.23,1.21-0.23,1.9c0,0.7,0.07,1.34,0.23,1.91
          c0.15,0.57,0.38,1.06,0.68,1.46c0.3,0.4,0.68,0.72,1.14,0.94c0.46,0.22,0.99,0.33,1.61,0.33
          C20.36,106.74,20.89,106.63,21.34,106.41z M34.17,96.48c0.84,0,1.53,0.09,2.06,0.28c0.54,0.19,0.96,0.43,1.27,0.73
          c0.31,0.3,0.52,0.64,0.64,1.01c0.12,0.38,0.17,0.76,0.17,1.15c0,0.71-0.15,1.32-0.45,1.83c-0.3,0.5-0.79,0.9-1.47,1.18l2.36,5.05
          h-1.62L35,103.01c-0.14,0.02-0.28,0.03-0.44,0.04c-0.16,0-0.3,0.01-0.43,0.01h-2.22v4.66h-1.43V96.48H34.17z M35.55,101.66
          c0.33-0.1,0.58-0.24,0.77-0.42c0.19-0.18,0.32-0.41,0.4-0.67c0.07-0.26,0.11-0.56,0.11-0.88c0-0.31-0.04-0.59-0.13-0.83
          c-0.08-0.24-0.23-0.45-0.43-0.62c-0.2-0.17-0.48-0.31-0.83-0.39c-0.35-0.09-0.79-0.13-1.32-0.13h-2.2v4.11h2.39
          C34.81,101.81,35.23,101.76,35.55,101.66z M47.69,96.48c0.83,0,1.51,0.09,2.05,0.27c0.54,0.18,0.96,0.42,1.28,0.72
          c0.31,0.31,0.52,0.66,0.65,1.06c0.12,0.4,0.18,0.83,0.18,1.28c0,0.47-0.06,0.92-0.19,1.35c-0.13,0.43-0.35,0.81-0.66,1.13
          c-0.32,0.32-0.74,0.58-1.28,0.77c-0.54,0.19-1.21,0.28-2.03,0.28h-2.33v4.36h-1.43V96.48H47.69z M49.03,101.97
          c0.36-0.11,0.64-0.26,0.83-0.46c0.2-0.2,0.34-0.44,0.42-0.72c0.08-0.28,0.12-0.59,0.12-0.94c0-0.36-0.04-0.67-0.12-0.94
          s-0.23-0.5-0.44-0.68c-0.21-0.18-0.49-0.31-0.84-0.4c-0.35-0.09-0.79-0.13-1.33-0.13h-2.3v4.42h2.31
          C48.22,102.13,48.67,102.08,49.03,101.97z M59.89,107.61c-0.63-0.26-1.18-0.63-1.64-1.13c-0.46-0.5-0.81-1.11-1.06-1.85
          c-0.25-0.73-0.38-1.57-0.38-2.52c0-0.95,0.13-1.78,0.39-2.52c0.26-0.73,0.61-1.35,1.07-1.86c0.46-0.5,1-0.89,1.64-1.15
          c0.63-0.26,1.33-0.39,2.09-0.39c0.77,0,1.47,0.13,2.1,0.39c0.64,0.26,1.18,0.63,1.63,1.13c0.45,0.5,0.8,1.11,1.05,1.84
          c0.25,0.73,0.38,1.57,0.38,2.51c0,0.95-0.12,1.79-0.37,2.53c-0.25,0.74-0.6,1.36-1.05,1.87c-0.45,0.5-0.99,0.89-1.63,1.15
          c-0.63,0.26-1.34,0.39-2.12,0.39C61.23,108,60.53,107.87,59.89,107.61z M63.58,106.41c0.46-0.22,0.84-0.53,1.14-0.94
          c0.3-0.4,0.53-0.89,0.69-1.46c0.16-0.57,0.24-1.21,0.24-1.91c0-0.69-0.08-1.33-0.24-1.9c-0.16-0.57-0.39-1.06-0.7-1.47
          c-0.31-0.41-0.69-0.72-1.14-0.94c-0.45-0.22-0.98-0.33-1.57-0.33c-0.61,0-1.14,0.11-1.6,0.33c-0.46,0.22-0.84,0.53-1.15,0.94
          c-0.31,0.41-0.54,0.9-0.69,1.47c-0.15,0.57-0.23,1.21-0.23,1.9c0,0.7,0.07,1.34,0.23,1.91c0.15,0.57,0.38,1.06,0.68,1.46
          c0.3,0.4,0.68,0.72,1.14,0.94c0.46,0.22,0.99,0.33,1.61,0.33C62.59,106.74,63.12,106.63,63.58,106.41z M76.4,96.48
          c0.84,0,1.53,0.09,2.06,0.28c0.54,0.19,0.96,0.43,1.27,0.73c0.31,0.3,0.52,0.64,0.64,1.01c0.12,0.38,0.17,0.76,0.17,1.15
          c0,0.71-0.15,1.32-0.45,1.83c-0.3,0.5-0.79,0.9-1.47,1.18l2.36,5.05h-1.62l-2.12-4.71c-0.14,0.02-0.28,0.03-0.44,0.04
          c-0.16,0-0.3,0.01-0.43,0.01h-2.22v4.66h-1.43V96.48H76.4z M77.78,101.66c0.33-0.1,0.58-0.24,0.77-0.42
          c0.19-0.18,0.32-0.41,0.4-0.67c0.07-0.26,0.11-0.56,0.11-0.88c0-0.31-0.04-0.59-0.13-0.83c-0.08-0.24-0.23-0.45-0.43-0.62
          c-0.2-0.17-0.48-0.31-0.83-0.39c-0.35-0.09-0.79-0.13-1.32-0.13h-2.2v4.11h2.39C77.04,101.81,77.46,101.76,77.78,101.66z
           M91.41,96.48l4.36,11.24H94.2l-1.18-3.13H88.2l-1.18,3.13h-1.51l4.38-11.24H91.41z M90.59,98.11l-1.95,5.21h3.94L90.59,98.11z
           M98.51,97.77v-1.29h8.89v1.29h-3.71v9.95h-1.46v-9.95H98.51z M119.7,96.48v1.28h-5.83v3.53h5.51v1.29h-5.51v3.87H120l-0.23,1.28
          h-7.34V96.48H119.7z"/>
      </g>
    </svg>
  </div>
  <style>
    .Preloader {
      position: fixed;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: 3000;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;
    }
    .Preloader svg {
      position: relative;
      top: -2%;
      width: 200px;
      height: 200px;
    }
    @media (max-width: 500px) {
      .Preloader svg {
        width: 140px;
        height: 140px;
      }
    }
    @keyframes PreloaderSVGPathAnimation {
      0% {
        opacity: 0;
        transform: scale(.92) translateZ(0);
      }
      100% {
        opacity: 1;
        transform: scale(1) translateZ(0);
      }
    }
    .Preloader-animated svg path {
      opacity: 0;
      animation-name: PreloaderSVGPathAnimation;
      animation-duration: 1.2s;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      transform-origin: center center;
    }
    .Preloader-animated svg path:nth-child(1) {
      animation-delay: .1s;
    }
    .Preloader-animated svg path:nth-child(2) {
      animation-delay: .4s;
    }
    .Preloader-animated svg path:nth-child(3) {
      animation-delay: .6s;
    }
  </style>
{% else %}
  <script>
    (function () {
      const color = localStorage.getItem('YSTransitionShutterColor')
      if (!color) return;
      document.getElementsByClassName('TransitionShutter')[0].style.backgroundColor = color;
    })()
  </script>
{% endif %}


