
# Wordpress files from composer install
languages
wordpress

# Mu-plugins (installed with composer)
mu-plugins/*
!mu-plugins/mu-plugins.php

# Keep those mu-plugins which are not installed with composer
#!mu-plugins/advanced-custom-fields-pro
!mu-plugins/folders-zouloux-patched

# Dynamic kept files
upgrade
uploads

# Plugins (can be installed from wp-admin)
plugins/*
!plugins/index.php

