
# ------------------------------------------------------------------------------ BASIC

# Disable directory listing
Options -Indexes

# Force UTF8 as default charset
AddDefaultCharset utf-8


# ------------------------------------------------------------------------------ CACHE CONTROL

<IfModule mod_expires.c>
	ExpiresActive On

	AddType font/woff .woff
	AddType image/x-icon .ico

	# 2 hours for default and content
	ExpiresDefault "access plus 7200 seconds"
	ExpiresByType text/html "access plus 7200 seconds"
	ExpiresByType application/xhtml+xml "access plus 7200 seconds"

	# 7 days cache for all resources files
	ExpiresByType image/jpg "access plus 604800 seconds"
	ExpiresByType image/jpeg "access plus 604800 seconds"
	ExpiresByType image/png "access plus 604800 seconds"
	ExpiresByType image/gif "access plus 604800 seconds"
	ExpiresByType image/ico "access plus 604800 seconds"
	ExpiresByType image/icon "access plus 604800 seconds"
	ExpiresByType image/x-icon "access plus 604800 seconds"
	ExpiresByType text/css "access plus 604800 seconds"
	ExpiresByType text/javascript "access plus 604800 seconds"
	ExpiresByType application/javascript "access plus 604800 seconds"
	ExpiresByType application/x-javascript "access plus 604800 seconds"
	ExpiresByType font/woff "access plus 1 year"
</IfModule>

# ------------------------------------------------------------------------------ OPTIMISATIONS

# Remove etags (file modified date asking by browsers)
Header unset ETag
FileETag none

# ------------------------------------------------------------------------------ REWRITE

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    ##
    # Old to new pages redirects
    ##

#    RewriteRule ^publications/$ https://yscorporate.com/blog/ [R=301,NC,L]
#
#    RewriteRule ^biographie/(.*)$ https://yscorporate.com/qui-suis-je/ [R=301,NC,L]
#    RewriteRule ^references/(.*)$ https://yscorporate.com/qui-suis-je/ [R=301,NC,L]
#    RewriteRule ^team/(.*)$ https://yscorporate.com/qui-suis-je/ [R=301,NC,L]
#
#    RewriteRule ^onboarding/(.*)$ https://yscorporate.com/services/ [R=301,NC,L]
#    RewriteRule ^photo-decoration/(.*)$ https://yscorporate.com/services/ [R=301,NC,L]
#    RewriteRule ^photo-architecture/(.*)$ https://yscorporate.com/services/ [R=301,NC,L]
#    RewriteRule ^photo-profil-professionnelle/(.*)$ https://yscorporate.com/services/ [R=301,NC,L]
#
#    RewriteRule ^portrait-dirigeant/(.*)$ https://yscorporate.com/portfolio/dirigeants-personnalites/ [R=301,NC,L]
#
#    RewriteRule ^portrait-corporate-situation/(.*)$ https://yscorporate.com/portfolio/equipes/ [R=301,NC,L]
#
#    RewriteRule ^evenementiel-photo-call/(.*)$ https://yscorporate.com/portfolio/evenements/ [R=301,NC,L]
#    RewriteRule ^photo-evenementiel-ambiance/(.*)$ https://yscorporate.com/portfolio/evenements/ [R=301,NC,L]
#
#    RewriteRule ^([0-9]*)/([0-9]*)/([0-9]*)/(.*)$ https://yscorporate.com/blog/$4 [R=301,NC,L]

    # Here we write wordpress redirect before the "BEGIN Wordpre$$" bloc
    # So it work on every env, even if Wordpress tries to updated it.
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . index.php [L]
</IfModule>

# ------------------------------------------------------------------------------ WORDPRESS REWRITE

# Here we block Wordpress rewrite rules
<If "false">

# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.

# END WordPress

</If>
