
/* Fixed action side bar */
/* FIXME : Info message goes behind */
/*@media (min-width: 851px) {
  #postbox-container-1
  {
    position: fixed;
    top: 114px;
    right: 314px;
  }
}*/

/* Hide useless admin elements */
#screen-meta,
#screen-meta-links,
#preview-action,
.misc-pub-curtime,
.misc-pub-visibility {
  display: none !important;
}
/* Remove arrow on submit meta box */
#submitdiv > button.handlediv {
  display: none;
}

/* More distinguishable accordions */
.acf-accordion .acf-accordion-title {
  background-color: rgb(231 251 231);
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  height: 28px;
}
.acf-accordion .acf-accordion-content {
  border: 3px solid rgb(231 251 231);
}
.acf-accordion .acf-accordion-title:hover {
  background-color: rgb(208 247 208);
}
.acf-accordion .acf-accordion-title:hover + .acf-accordion-content {
  border-color: rgb(208 247 208);
}
.acf-accordion.-open .acf-accordion-title {
  background-color: rgb(160 240 160);
}
.acf-accordion.-open .acf-accordion-title + .acf-accordion-content {
  border-color: rgb(160 240 160);
}
.acf-accordion .acf-accordion-title .acf-accordion-icon {
  float: none;
}

/* Patch ACF groups rendering */
.inside.acf-fields > .acf-field.acf-field-group,
.acf-field.clean {
  padding: 0 !important;
}
.acf-field.clean:before {
  display: none !important;
}
.acf-field.clean > .acf-input {
  width: calc(100% - 2px) !important;
  padding: 0 !important;;
}
.acf-field.clean > .acf-input > * > .acf-actions > .button-primary {
  margin: 3px 10px 10px 0;
}
.inside.acf-fields > .acf-field.acf-field-group > .acf-label,
.acf-field.clean > .acf-label {
  display: none;
}
.inside.acf-fields > .acf-field.acf-field-group > .acf-input > *,
.acf-field.clean > .acf-input > *,
.acf-field.clean > .acf-input .wp-editor-container {
  border: 0;
}

/* Clean row repeater with column on first line */
.acf-fields.-left > .acf-field.columns-group.clean {
  padding: 0 !important;
}
.acf-fields .columns-group.clean:before {
  display: none;
}
.acf-fields.-left > .acf-field.columns-group.clean > .acf-input {
  width: 100%;
  padding: 0 !important;
}

/* Bowl translated */
.bowl_translated {
  color: rgba(220, 80, 80);
  /*text-decoration: underline;*/
}

/* Conditional group */
.acf-fields.-left > .acf-field-group.conditionalGroup {
  padding: 3px;
  background-color: #008dd4;
  position: relative;
  /*overflow: visible !important;*/
}
.acf-fields.-left > .acf-field-group.conditionalGroup:before {
  position: absolute;
  top: -10px;
  left: 57px;
  width: 20px;
  height: 20px;
  background: #008dd4;
  border: 0;
  transform: rotate(45deg);
}
.acf-fields.-left > .acf-field-group.conditionalGroup > .acf-label {
  display: none;
}
.acf-fields.-left > .acf-field-group.conditionalGroup > .acf-input {
  width: 100%;
  padding: 0;
}
.acf-fields.-left > .acf-field-group.conditionalGroup > .acf-input > .acf-fields {
  border: 0;
}

/* Headless table */
.headless-table .acf-table thead {
  display: none;
}

/* Small image preview */
.acf-field.smallImage img {
  width: 200px;
}

.acf-field.columns-group > .acf-input > .acf-fields
{
  display: flex;
  justify-content: stretch;

}
.acf-field.columns-group > .acf-input > .acf-fields > .acf-field
{
  flex-grow: 1;
  border: none;
}
.acf-field.columns-group > .acf-input > .acf-fields > .acf-field + .acf-field {
  border-left: 1px solid #888;
}



/* Hide default title when loading, will be re-enabled by JS */
.wp-heading-inline {
  opacity: 0;
}

/* Patch multi-lang rendering */
#wpm-language-switcher {
  width: 100%;
}

/* More visible flexible content title */
.acf-postbox.seamless .postbox-header {
  border-bottom: none;
}
.acf-postbox.seamless .handle-actions {
  display: none;
}
.acf-field-flexible-content > .acf-label {
  font-size: 1.5em;
  margin-bottom: 20px;
  user-select: none;
}
.acf-field-flexible-content {
  background: rgba(80, 150, 200, .2);
  border-radius: 5px;
}

/* Cleaner CPT order */
#cpto #cpt_info_box {
  display: none;
}

/* Remove category tabs in post edit */
#category-tabs {
  display: none;
}
#category-all {
  border: 0;
}
#category-adder {
  text-align: center;
}
#categorydiv .inside {
  padding: 0;
  margin: 0;
}

/* Cleaner sidebar */
#menu-dashboard,
#menu-appearance,
#toplevel_page_edit-post_type-acf-field-group {
  display: none;
}
#adminmenuback,
#adminmenuwrap,
#adminmenu,
#adminmenu .wp-submenu {
  width: 200px;
}
#adminmenu .wp-submenu {
  left: 200px;
}
@media (max-width: 960px)
{
  #adminmenuback,
  #adminmenuwrap,
  #adminmenu,
  #adminmenu li.menu-top,
  #adminmenu .wp-submenu {
    width: 50px !important;
  }
  #adminmenu .wp-submenu {
    left: 50px !important;
  }
}
#adminmenu li a {
  padding: 8px !important;
}
#adminmenu li.menu-top:not(.wp-menu-open) > a.menu-top:hover,
#adminmenu li.menu-top.opensub > a.menu-top {
  background-color: #152530;
}
#adminmenu li.menu-top > a.menu-top {
  color: white !important;
}
#adminmenu {
  /*margin: 0;*/
}
#adminmenuwrap,
#adminmenu,
#adminmenuback {
  background-color: #304050;
}
#collapse-menu {
  display: none;
}
#adminmenuwrap {
  border-top: 1px solid rgba(255, 255, 255, .3);
}
#adminmenu .wp-menu-separator {
  margin: 8px !important;
  border-top: 1px solid rgba(255, 255, 255, .3);
}
#adminmenu .wp-menu-separator:nth-child(2) {
  display: none;
}
#toplevel_page_wpseo_dashboard .update-plugins {
  display: none;
}

/* Cleaner top bar */
#wp-admin-bar-new-content,
#wp-admin-bar-wpseo-menu {
  display: none;
}
#wpadminbar {
  height: 52px;
}
#wpadminbar #wp-admin-bar-root-default > li > *,
#wpadminbar #wp-admin-bar-top-secondary > li > * {
  padding: 10px 15px;
}
#wp-admin-bar-site-name .ab-sub-wrapper {
  display: none !important;
}

/* Patch content */
#wpcontent {
  margin-left: 200px;
  margin-top: 20px;
}

/* Separator in flexible tooltip */
.acf-tooltip a[data-layout^="--"] {
  pointer-events: none;
  color: transparent;
  margin-bottom: 10px;
  height: 1px;
  padding-top: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

/* Patch folders plugin */
#wcp-content-resize .wcp-content.ui-resizable {
  top: 52px;
  left: 200px;
  transition: none;
}
@media (max-width: 960px) {
  #wcp-content-resize .wcp-content.ui-resizable {
    left: 50px;
  }
}
body.wp-admin #wpcontent {
  transition: none;
}
#media-attachment-taxonomy-filter {
  display: none !important;
}
#adminmenu .toplevel_page_wcp_folders_settings {
  display: none;
}

/* Hide folders when editing a media */
.media-modal.-edit .media-frame > .media-frame-menu,
.media-modal.-edit .media-frame > .folder-custom-menu
{
  display: none !important;
}

/* Can't edit slug from page so remove button (this is a bug) */
/* To edit slug, use overview and click quick-edit at page roll-over */
#edit-slug-box #edit-slug-buttons {
  display: none;
}

/* Clean articles columns */
.wp-list-table .column-tags,
/*.wp-list-table .column-author,*/
.wp-list-table .column-wpseo-title,
.wp-list-table .column-wpseo-metadesc,
.wp-list-table .column-wpseo-focuskw,
.wp-list-table .column-wpseo-links,
.wp-list-table .column-wpseo-linked,
.wp-list-table .column-rank_math_seo_details {
  display: none;
}