
#wpadminbar {
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 30px;
	height: 30px;
	padding: 0 0 0 30px;
	margin: 0;
	background: rgba(0, 0, 0, .7);
	border-radius: 0 0 10px 0;
	z-index: 9999999;
	font-size: 14px;
	box-sizing: border-box;
}
#wpadminbar ul {
	padding: 0;
	margin: 0;
}
#wpadminbar:hover {
	width: auto;
	height: auto;
	padding-left: 0;
}
#wp-admin-bar-root-default,
#wp-admin-bar-user-actions {
	display: flex;
	flex-wrap: nowrap;
	justify-content: stretch;
	padding: 0;
	margin: 0;
}
#wpadminbar li {
	list-style: none;
	flex-grow: 1;
	padding: 0;
	margin: 0;
	border-right: 1px solid rgba(255, 255, 255, .2);
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}
#wpadminbar a {
	text-decoration: none;
	margin: 0;
	padding: .6em 1.4em;
	display: block;
	font-family: sans-serif;
	color: white;
	text-align: center;
}
#wpadminbar a:hover {
	background: black;
}

/* remove all junk */
#wpadminbar .screen-reader-shortcut,
#wp-admin-bar-customize,
#wp-admin-bar-updates,
#wp-admin-bar-new-content,
#wp-admin-bar-wpseo-menu,
#wp-admin-bar-appearance,
#wp-admin-bar-search,
#wp-admin-bar-my-account > a.ab-item,
#wp-admin-bar-user-info img,
#wp-admin-bar-edit-profile,
#wp-admin-bar-rank-math,
#wp-admin-bar-site-name > a.ab-item {
	display: none;
}