
{% set classes = "FlexibleQuoteBlock" %}
{% if item.background is defined %}
  {% set classes = classes ~ " FlexibleQuoteBlock-" ~ item.background ~ "Background" %}
{% endif %}
{% if item.alignment is defined %}
  {% set classes = classes ~ " FlexibleQuoteBlock-" ~ item.alignment ~ "Alignment" %}
{% endif %}

<div class="BigBlock {{ classes }}">
  <p class="FlexibleQuoteBlock_content">
    {{ item.content|splitter('word', 'span', true) }}
  </p>
</div>