

<div class="BigBlock FlexibleRichTextColumnsBlock {% if item.lonelyColumn %}FlexibleRichTextColumnsBlock-lonelyColumn{% endif %}">
  {# NOTE : Weird, can't name it "column" #}
  {% for key, columnItem in item.columns %}
    {% if columnItem is not null and columnItem is not empty %}
      <div class="FlexibleRichTextColumnsBlock_column">
        {{ columnItem }}
        {% if item.link is defined %}
          {% if key == 0 and item.lonelyColumn or key == 1 and not item.lonelyColumn %}
            <a href="{{ item.link.href }}" class="FlexibleRichTextColumnsBlock_link SubLink SubLink-underline">
              {{ item.link.text }}
            </a>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
</div>