
{% set classes = "FlexibleImagesBlock" %}
{% set classes = classes ~ " FlexibleImagesBlock-s" ~ item.size %}
{% set classes = classes ~ " FlexibleImagesBlock-h" ~ item.horizontalAlign %}
{% set classes = classes ~ " FlexibleImagesBlock-v" ~ item.verticalAlign %}
{% if item.oneImage %}
  {% set classes = classes ~ " FlexibleImagesBlock-lonelyImage" %}
{% endif %}

<div class="BigBlock {{ classes }}">
  {% for key, image in item.columns %}
    {% if image is not empty and image.image != false %}
      {% include "partials/components/responsive-image.twig" with {
        image: image.image,
        class: "FlexibleImagesBlock_image FlexibleImagesBlock_image-"~key,
        label: image.label
      } %}
    {% endif %}
  {% endfor %}
</div>