


<div class="ArticleBlock FlexibleArticleTitleBlock FlexibleArticleTitleBlock-{{ item.size }}Size">
  {% if item.size == 'small' %}
    <h3 class="FlexibleArticleTitleBlock_title">{{ item.content|raw }}</h3>
  {% elseif item.size == 'medium' %}
    <h2 class="FlexibleArticleTitleBlock_title">{{ item.content|raw }}</h2>
  {% elseif item.size == 'big' %}
    <h1 class="FlexibleArticleTitleBlock_title">{{ item.content|raw }}</h1>
  {% endif %}
</div>