

<div class="ArticleBlock FlexibleArticleRegularTextBlock FlexibleArticleRegularTextBlock-{{ item.rendering }}">
  <p class="FlexibleArticleRegularTextBlock_paragraph">{{ item.content|raw }}</p>
</div>