
<div class="FlexibleAnchorsBlock ArticleBlock">
  <div class="FlexibleAnchorsBlock_list">
    {% for anchor in item.list %}
      <div class="FlexibleAnchorsBlock_anchor">
        <a href="#bloc-{{ anchor.id }}" class="FlexibleAnchorsBlock_link SubLink SubLink-underline">{{ anchor.text }}</a>
      </div>
    {% endfor %}
  </div>
</div>