<script>window._loaderStartTime = Date.now();</script>

<noscript hidden>
  <style>
    .Preloader { display: none !important; }
  </style>
</noscript>

<div class="Preloader Preloader-animated">
</div>
<style>
  .Preloader {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 3000;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
</style>

