# Bundled assets
/assets/
!/assets/.gitkeep

# Mu-plugins (installed with composer)
/mu-plugins/*
!/mu-plugins/mu-plugins.php

# Plugins (can be installed from wp-admin)
/plugins/*
!/plugins/index.php

# WP Uploads
/uploads

# Wordpress files from composer install
/wordpress