
{% set languages = function('get_locale_list') %}
{% if languages|length > 1 %}
  <div class="LocaleSwitcher">
    {% for key, lang in languages %}
      <a class="LocaleSwitcher_item {% if appData.locale == key %}LocaleSwitcher_item-current {% else %}SubLink{% endif %}" href="{{ appData.base }}{{ key }}/">
        {{ key }}
      </a>
      {% if not loop.last %}
        <span class="LocaleSwitcher_separator">/</span>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}